<div class="row col-sm-12">
  <div class="col-sm-12 resForm p-2 card justify-content-center align-content-center" [formGroup]="restauranteForm">
    <h2 align="center">Crear restaurante</h2>
    <div class="input-group mb-5">
      <div class="input-group-prepend">
        <span class="input-group-text icons" id="basic-addon3"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
      </div>
      <input type="text" class="form-control" formControlName="name" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon3"  [ngClass]="{ 'is-invalid': f.name.dirty && f.name.errors  }" required>
      <div *ngIf="f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Nombre es requerido</div>
      </div>
    </div>
    <div class="input-group mb-5">
      <div class="input-group-prepend">
        <span class="input-group-text icons" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
      </div>
      <input type="email" class="form-control" formControlName="email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1"  [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors  }" required>
      <div *ngIf="f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email es requerido</div>
        <div *ngIf="f.email.errors.email">El formato del correo debe ser 'hola@hola.com'</div>
      </div>
    </div>
    <div class="input-group mb-5">
      <div class="input-group-prepend">
        <span class="input-group-text icons" id="basic-addon2"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
      </div>
      <input type="text" class="form-control" formControlName="phone" placeholder="Teléfono" aria-label="telefono" aria-describedby="basic-addon2"  [ngClass]="{ 'is-invalid': f.phone.dirty && f.phone.errors  }" required>
      <div *ngIf="f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.required">Teléfono es requerido</div>
      </div>
    </div>
    <input class="form-control mb-5" [ngClass]="{ 'is-invalid': f.phone.dirty && f.phone.errors  }"  ngx-google-places-autocomplete  #search="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
    <div class="custom-control custom-checkbox mb-5 pr-3">
      <input type="checkbox" class="custom-control-input" id="defaultChecked2" >
      <label class="custom-control-label" for="defaultChecked2">Activo</label>
    </div>

      <button type="button" (click)="onCreateRestaurant()"  class=" btn btn-primary align-self-center self"><i class="fa fa-plus-circle" aria-hidden="true"></i>Agregar restaurante</button>



  </div>

</div>
